<!-- <div class="row align-items-center justify-content-center">
  <h2><strong>SECTOR COMPARE</strong></h2>
</div>
<hr> -->
<form class="needs-validation" [formGroup]="compareForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="col-6">
      <label for="sectorname">Sector Name</label>
      <input type="text" class="form-control" id="sectorname" formControlName="sectorName" (keyup)="debounceSearch($event.target.value)" required>
      <div [hidden]="sectorName.valid || sectorName.untouched">
        <small *ngIf="sectorName.invalid" class="form-text text-muted" align="right">Sector Name is required.</small>
      </div>
    </div>
    <div class="col-3">
      <label for="fromperiod">From Period</label>
      <input type="datetime-local" id="fromperiod" formControlName="fromPeriod" />
      <div [hidden]="fromPeriod.valid || fromPeriod.untouched">
        <small *ngIf="fromPeriod.invalid" class="form-text text-muted" align="right">From Period is required.</small>
      </div>
    </div>
    <div class="col-3">
      <label for="toperiod">To Period</label>
      <input type="datetime-local" id="toperiod" formControlName="toPeriod" />
      <div [hidden]="toPeriod.valid || toPeriod.untouched">
        <small *ngIf="toPeriod.invalid" class="form-text text-muted" align="right">To Period is required.</small>
      </div>
    </div>
  </div>
  <div class="form-row" [hidden]="!debounceResults">
    <div class="col-12">
      <label for="toperiod">PLEASE CHOOSE SECTOR</label>
      <select class="form-control" id="debounceres" formControlName="debounceRes" (ngModelChange)="debounceSelectChange()">
        <option selected disabled value="">PLEASE CHOOSE SECTOR HERE...</option>
        <ng-container *ngFor="let res of debounceResults">
          <option [ngValue]="res">sectorName: {{ res.sectorName }}</option>
        </ng-container>
      </select>
      <div>&nbsp;</div>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="!compareForm.valid">
        Submit
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary btn-block" type="reset">Reset</button>
    </div>
  </div>
</form>
<hr>

<app-generate-chart [inputData]="consolData"></app-generate-chart>
