<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FSD LOGIN</title>
</head>
<body>
<h2>FSD LOGIN PAGE</h2>
<h3>FORM LOGIN</h3>
<!--<form action="/fsdms/login/form" method="post">-->
<form action="" method="post">
  <table>
    <tr>
      <td>UserName:</td>
      <td><input name="username" type="text"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input name="password" type="text"></td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit">LOGIN</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>